.root{
	-fx-background-color: black;
}

.button{
	-fx-font-weight:bold;
	-fx-font-size:30px;
	-fx-background-color: rgba(128, 128, 128, 0.5);
	-fx-font-family: "Papyrus", Times New Roman, Times, serif;
	-fx-border-color: rgba(60, 60, 60, 1);
	-cursor: hand;
	 }
	 
.button:hover {
  -fx-background-color: rgba(60, 60, 60, 1);
  }

/*
 * MENU START BUTTON CSS
 */
#firstLabel1, #firstLabel2{
	-fx-text-fill : green;
	-fx-font-weight:bold;
	-fx-font-size:50px;
	-fx-font-family: "Papyrus", Times New Roman, Times, serif;	
	-fx-effect: dropshadow(three-pass-box, green, 50, 0.7, 0, 0);
}

/*
 * FIRST LEVEL CSS
 */  
  
#playerHP > .bar, #playerHP > .track{
  	-fx-background-insets: 0;
	-fx-accent: Green;
	-fx-border-color: rgba(0, 0, 0, 1);
}

#enemyHP > .bar, #enemyHP > .track{
  	-fx-background-insets: 0;
	-fx-accent: Red;
	-fx-border-color: rgba(0, 0, 0, 1);	
}
#labelDied, #labelMenu{
	-fx-font-weight:bold;
	-fx-font-size:50px;
	-fx-font-family: "Papyrus", Times New Roman, Times, serif;
	-fx-border-color: rgba(60, 60, 60, 0);
	-fx-text-fill : Red;
	-fx-effect: dropshadow(three-pass-box, red, 50, 0.7, 0, 0);
	
}

#conLabel, #levLabel{
	-fx-font-weight:bold;
	-fx-font-size:50px;
	-fx-font-family: "Papyrus", Times New Roman, Times, serif;
	-fx-border-color: rgba(60, 60, 60, 0);
	-fx-text-fill : silver;
	-fx-effect: dropshadow(three-pass-box, silver, 50, 0.7, 0, 0);	
}


#statPane{
	-fx-font-size:20px;
	-fx-font-weight:bold;	
	-fx-font-family: "Comic Sans MS", Times New Roman, serif;	
	-fx-effect: dropshadow(three-pass-box, red, 20, 0.7, 0, 0);	
}